* {
    box-sizing: border-box;
}

.title-bar {
    margin: 0;
    writing-mode: vertical-lr;
    text-orientation: upright;
    color: white;
    padding: 0.1rem;
}

tr {
    margin: 0;
    padding: 0;
}

.row {
    width: 100%;
}

.content {
    width: 100%;
}

.row-content {
    flex: 1;
    vertical-align: top;
    border: 1px solid #eee;
    padding: 1rem;
    width: 100%;
}

select, input {
    width: 100%;
    padding: 1rem;
    margin-bottom: 0.4rem;
    border-radius: 0.2rem;
}

button {
    padding: 1rem;
    background-color: #a5a5a5;
    border: 0;
    color: white;
    cursor: pointer;
    border-radius: 0.2rem;
}

button:hover {
    background-color: #999;
}

.hint {
    font-size: 8pt;
    color: #888;
}

.save {
    margin-top: 1rem;
    background-color: #4F6CA9;
    border-color: #4F6CA9;
    padding: 1rem 2rem;
}

.save:hover {
    background-color: #3f5686;
    border-color: #3c517f;
}

.cancel {
    margin-top: 1rem;
    background-color: white;
    border: 1px solid #4F6CA9;
    color: #4F6CA9;
    padding: 1rem 2rem;
}

.cancel:hover {
    background-color: #4F6CA9;
    color: white;
}

p {
    
}

@media only screen and (max-width: 600px) {

    .row-title {
        min-width: 4rem;
        font-size: 0.8rem;
    }
  }

  @media only screen and (min-width: 601px) {

    .row-title {
        min-width: 8rem;
        font-size: 1rem;
    }
  }