.title-bar {
    font-size: 10pt;
    margin: 0;
    writing-mode: vertical-lr;
    text-orientation: upright;
    color: white;
    padding: 0.1rem;
}

tr {
    font-size: 10pt;
    margin: 0;
    padding: 0;
    border-spacing: 0;
}

.row-title {
    min-width: 8rem;
    padding: 0.5rem;
}

.row-content {
    vertical-align: top;
}

select, input {
    padding: 0.3rem;
    margin: 0.2rem;
}

button {
    font-size: 8pt;
    margin: auto 0.2rem;
    padding: 0.5rem;
    background-color: #a5a5a5;
    border: 0;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #999;
}

.hint {
    font-size: 8pt;
    color: #888;
}

.save {
    margin-top: 1rem;
    background-color: #4F6CA9;
    border-color: #4F6CA9;
}

.save:hover {
    background-color: #3f5686;
    border-color: #3c517f;
}

.cancel {
    margin-top: 1rem;
    margin-left: 0.3rem;
    background-color: white;
    border: 1px solid #4F6CA9;
    color: #4F6CA9;
}

.cancel:hover {
    background-color: #4F6CA9;
    color: white;
}

span {
    margin: auto;
    padding: 0.2rem;
}